header{
    background-color: darkgoldenrod;
    color:antiquewhite;
    height: 100%;
    background-image: url(https://media.kg-portal.ru/images/prideandprejudice/prideandprejudice_34.jpg);
    background-size: 100%;

}
.container{
    background-color: rgb(163, 116, 116);
    height: 400px;
    display: flex;
}
footer{
    width: 100%;
    background-image:url(https://img-fotki.yandex.ru/get/3211/116075328.2a6/0_1e0c0b_7f240534_XXL.jpg) ;
    background-size: 100%;
    height: 100%;
    padding-top: 50px;
    display: flex;
}

h1{
    font-size: 50px;
    padding: 50px;
    padding-top: 500px;
    padding-bottom: 300px;
    margin: 0;
    font-family: 'DELL CYR [Rus by me]';
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.left{
    background-color: rgb(255, 207, 86);
    float: left;
    width: 33%;
    height: 100%;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    text-align: justify;
}
.center{
    background-color: orange;
    width: 33%;
    height: 100%;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    text-align: justify;
}
.right{
    background-color: brown;
    float: right;
    width:33%;
    height: 100%;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    text-align: justify;
}

h2{
    text-align: center;
}

.f_left{
    width: 20%;
    float: left;
    text-align: center;
}
.f_right{
    width: 80%;
    float: right;
    font-size: 30px;
}